/* BEGIN -- basic global styling/rules */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222222;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    background: linear-gradient(to bottom, #a9a9a9, #808080);
    /* padding-bottom: 45px; */
}

header {
    position: relative;
    top: 0;
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    gap: 25px;
}

main {
    margin-top: 25px;
}

footer {
    text-align: center;
    width: 100%;
}

.mainContent {
    margin: 45px auto 0 auto;
    /*max-width: 800px;*/
    max-width: 645px;
    padding: 20px;
    background-color: #d3d3d3;
}

.bevel-box {
    background-color: #c0c0c0;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
    font-family: Tahoma, Verdana, sans-serif;
    box-shadow: inset 1px 1px #00000022;
}

a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: purple;
    text-decoration: underline;
}

.generic-button {
    font-size: 14px;
    color: black;
    background-color: #d4d0c8;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
    padding: 4px 12px;
    margin: 4px;
    cursor: pointer;
    box-shadow: inset 1px 1px 0px #ffffff66;
    text-align: center;
    display: inline-block;
}

.generic-button:active {
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    box-shadow: inset -1px -1px 0px #ffffff66;
    background-color: #c0c0c0;
}

.generic-button:hover {
    background-color: #e0e0e0;
}
/* END -- basic global styling/rules */
